.burger-display {
  height: 290px;
  width: 100%;
  overflow: auto;
}
.burger-display p {
  text-align: center;
}
.restaurant-name {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}
.ingredient-choices {
  background-color: #f4b46c;
  margin: 30px auto 0;
  display: table;
  max-width: 200px;
  width: 100%;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}
.ingredient-choices p  {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}
.ingr-btns {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
}
.ingr-btn {
  border: 0;
  background-color: #c17116;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  display: table;
  width: 95px;
}
.top-side {
  background-image: url(../assets/top.jpeg);
  background-size: 300px;
  height: 110px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
.bottom-side {
  background-image: url(../assets/bottom.jpeg);
  background-size: 300px;
  height: 60px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
.lettuce-side {
  background-image: url(../assets/lettuce.jpeg);
  background-size: 300px;
  height: 27px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
  background-position: center;
}
.tomato-side {
  background-image: url(../assets/tomato.jpeg);
  background-size: 300px;
  height: 20px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
.cheese-side {
  background-image: url(../assets/cheese.jpeg);
  background-size: 300px;
  height: 15px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
.meat-side {
  background-image: url(../assets/meat.jpeg);
  background-size: 300px;
  height: 49px;
  width: 100%;
  display: table;
  background-repeat: no-repeat;
  background-position: center;
}
